@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: 1 rem;
    margin-left: 1 rem;
    margin-top: 5px;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: rgb(255, 255, 255);
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 3rem;
	font-weight: 100;
	color: black;
	margin-bottom: 1px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-align: left;
}
.section-title span {
	color: rgb(3, 3, 3);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: transparent;
	border: 2px solid #FEDFD4;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.1s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: black;
	background-color: #FEDFD4;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: black;
}
.brand h1 span {
	color: #65010C;
}

#logo {
	float: left;
	width: 5rem;
	height: 5rem;
	
  }
  

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: white;
	transition: 0.1s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 30px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: white;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	padding-right: 1 rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 20px;
	display: block;
	padding-right: 1 rem;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.1s ease letter-spacing;
	padding-right: 1 rem;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #65010C;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.1s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Welcome Section */
#welcome {
	background-image: url(../images/welcome-bg.jpg); 
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	align-content: center;
}
#welcome::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #F29479;
	opacity: 0.6;
	z-index: -1;
}
#welcome .welcome {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: center;
}
#welcome h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;

}
#welcome h1:nth-child(1) {
	animation-delay: 1s;
}
#welcome h1:nth-child(2) {
	animation-delay: 2s;
}
#welcome h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#welcome h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #FEDFD4;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.1s;
}
#welcome h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#welcome h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#welcome h1:nth-child(3) span {
	animation-delay: 1s;
}

/* End welcome Section */

/*roommate*/
.page-section {
    padding: 4rem 0rem;
    min-height: 100vh;
	width: 100%;
    padding-right: 25rem;
    padding-left: 25rem;
    margin-top: 1 rem;
  }
  .page-section h2.section-heading {
    font-size: 4vw;
    margin-bottom: 20px ;
    margin-top: 0;
  }
  .page-section h3.section-subheading {
    font-size: 2.5vw;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 1rem;
    margin-top: 1rem;
	margin-left: 10rem;
	padding-top: 6rem;
	display: inline;
  }
  .slideshow-container{
	  background-color: #FEDFD4;
	  max-width: 100%;
	  max-height: 50%;
	  padding-top: 40px;
	  display: block;
	  align-content: center;
  }
	#roommate_img{
		max-width: 70%;
		max-height: 60%;
		margin-left: 15%;
		padding-top: 40px;
	}

	.button-chat{
		border-radius: 0;
		background-color: #044dad;
		border: none;
		color: white;
		padding: 1rem 2rem 1rem 2rem;
		text-align: center;
		text-decoration: none;
		font-size: 1.5vw;;
		margin-left: 5%;
		cursor: pointer;
		border-radius: 10px;
	}
	.button-chat:hover,
	.button-chat:focus {
	box-shadow: 0 1em 1em -1em var(--hover);
	transform: translateY(-0.25em);
	}
	.button-skip{
		background-color: #65010C;
		border-radius: 0;
		border: none;
		color: white;
		padding: 1rem 2rem 1rem 2rem;
		text-align: center;
		text-decoration: none;
		font-size: 1.5vw;
		margin-left: 3%;
		cursor: pointer;
		border-radius: 10px;
	}
	.button-skip:hover,
	.button-skip:focus {
	box-shadow: 0 1em 1em -1em var(--hover);
	transform: translateY(-0.25em);
	}
  .myRecommendations {display: none}  

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 15px;
	color: white;
	font-weight: bold;
	font-size: 50px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	margin-top: 200px;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 250px;
	border-radius: 3px 0 0 3px;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  



/* end of roommate recommendation*/


/* Footer */
#footer {
	background-image: linear-gradient(60deg, #F29479 0%, #f8d2c4 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: black;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: black;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: black;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* welcome */
	#welcome h1 {
		font-size: 7rem;
		padding-bottom: 3rem;
		
	}
	/* End welcome */


}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}