<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style_main.css">
  <title>Page Not Found</title>
</head>

<body>
  <!--Copy from here-->
  <!-- Header and Navigation Bar-->

  <h1>Page Not Found</h1>


  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <p>Copyright © 2021 SwipeMyRoomie. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
</body>