<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type = "text/css" href="../static/styles/styles_home.css">

  <title>Home Page</title>
</head>

<body>
  <!-- Header and Navigation Bar-->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <img src="../static/images/icon.png" id="logo"/>
        <div class="brand">
          <a href="#welcome">
            <h1><span>S</span>wipe<span>M</span>y<span>R</span>oomie</h1>
          </a>
        </div>
        <div class="nav-list">
          <ul>
            <li><a href="/profile" data-after="PROFILE">PROFILE</a></li>
            <li><a href="/search_house" data-after="SEARCH HOUSE">SEARCH HOUSE</a></li>
            <li><a href="/messages" data-after="MESSAGES">MESSAGES</a></li>
            <li><a href="/" data-after="LOGOUT">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- welcome Section  -->
  <section id="welcome">
    <div class="welcome container">
      <div>
        <h1>Welcome to </h1>
        <h1>SwipeMyRoomie, <span></span></h1>
        <h1> {{Name}} </h1>
      </div>
    </div>
  </section>
  <!-- End welcome Section  -->


  <!--Roommate Recommendation-->

  <section class= "page-section" id="recommendation">
      <h2 class="section-heading">Roommates Recommended Just For You!</h2>
      <div class = "slideshow-container">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <!--button-sql-js-flask-connection-->
         {%for i in range(size)%}
            <div class = "myRecommendations fade">
              <h3 class= "section-subheading">{{table[i][5]}} | {{table[i][0]}}</h3>
              <button class="button-chat" href ="/messages">Chat</button>
                <button class="button-skip" onclick="deleteRec({{table[i][11]}})"">Skip</button>
              <img src="{{table[i][4]}}" id="roommate_img"/>
          </div>
          {% endfor %}
          <script src="../static/javascript/home.js"></script>

      </div>




</section>
<!--end Roommate Recommendation Page-->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <p>Copyright © 2021 SwipeMyRoomie. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
</body>
