<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/styles/style_update_roommate.css">

  <title>View Profile</title>
</head>



<body>
  <!-- Header and Navigation Bar-->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <img src="../static/images/icon.png" id="logo"/>
        <div class="brand">
          <a href="#welcome">
            <h1><span>S</span>wipe<span>M</span>y<span>R</span>oomie</h1>
          </a>
        </div>
        <div class="nav-list">
          <ul>
            <li><a href="/profile" data-after="PROFILE">PROFILE</a></li>
            <li><a href="/search_house" data-after="SEARCH HOUSE">SEARCH HOUSE</a></li>
            <li><a href="/messages" data-after="MESSAGES">MESSAGES</a></li>
            <li><a href="/" data-after="LOGOUT">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- profile Section  -->
  <section id="profile">
    <div class="profile-section">
        <img src="../static/images/crop4.png" id="self_img"/>
        <h1>Thomas | 30 </h1>
        <h2>My Profile</h2>
        <a class="button-two" href = '/update_roommate'>Update Roommate Preference</a>
        <a class="button-two" href = '/update_self'>Update Self Profile</a>
    </div>
    <div class="page-section">
      <h2>Personal Details</h2>
      <!--How to call variables from python-->
      <h3> Name: {{current_user}} </h3> 
      <br><br>
      <h3>Gender: Male</h3>
      <br><br><br>
      <h3>Age: 30</h3>
      <br><br>
      <h3>Occupation: Engineer</h3>
      <br><br>
      <h3>Ethnicity: Chinese</h3>
      <br><br>
      <h3>Language: English </h3>
      <br>
      <br>
      <br>
      <h2>Roommate Preference</h2>
      <br><br>
      <h3>Gender Preference: Male</h3>
      <br><br>
      <h3>Age Preference: 30</h3>
      <br><br>
      <h3>Occupation Preference: Engineer</h3>
      <br><br>
      <h3>Ethnicity Preference: Any</h3>
      <br><br>
      <h3>Language Preference: English</h3>
      <br>
          
    </div>
      
  </section>
  <!-- End welcome Section  -->


</section>
<!--end Roommate Recommendation Page-->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <p>Copyright © 2021 SwipeMyRoomie. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>
