<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style_update_roommate.css')}}">

  <title>View Profile</title>
</head>



<body>
  <!-- Header and Navigation Bar-->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <img src="../static/images/icon.png" id="logo"/>
        <div class="brand">
          <a href="#welcome">
            <h1><span>S</span>wipe<span>M</span>y<span>R</span>oomie</h1>
          </a>
        </div>
        <div class="nav-list">
          <ul>
            <li><a href = "/home" data-after="HOME">HOME</a></li>
            <li><a href="/profile" data-after="PROFILE">PROFILE</a></li>
            <li><a href="/search_house" data-after="SEARCH HOUSE">SEARCH HOUSE</a></li>
            <li><a href="/messages" data-after="MESSAGES">MESSAGES</a></li>
            <li><a href="/" data-after="LOGOUT">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- profile Section  -->
  <section id="profile">
    <div class="profile-section">
        <img src="{{profilepic}}" id="self_img"/>
        <h1>{{Name2}} | {{Age2}} </h1>
        <h2>My Profile</h2>
        <a class="button-two" href = "{{url_for('update_roommate')}}">Update Roommate Preference</a>
        <a class="button-two" href = "{{url_for('update_self')}}">Update Self Profile</a>
    </div>
    <div class="page-section">
      <h2>Personal Details</h2>
      <!--How to call variables from python-->
      <h3> Name: {{name}} </h3> 
      <br><br>
      <h3>Gender: {{gender}}</h3>
      <br><br><br>
      <h3>Age: {{age}}</h3>
      <br><br>
      <h3>Occupation: {{occupation}}</h3>
      <br><br>
      <h3>Ethnicity: {{ethnicity}}</h3>
      <br><br>
      <h3>Language: {{language}} </h3>
      <br>
      <br>
      <br>
      <h2>Roommate Preference</h2>
      <br><br>
      <h3>Gender Preference: {{gender_roommate}}</h3>
      <br><br>
      <h3>Age Preference: {{age_roommate}}</h3>
      <br><br>
      <h3>Occupation Preference: {{occupation_roommate}}</h3>
      <br><br>
      <h3>Ethnicity Preference: {{ethnicity_roommate}}</h3>
      <br><br>
      <h3>Language Preference: {{language_roommate}}</h3>
      <br>
          
    </div>
      
  </section>
  <!-- End welcome Section  -->


</section>
<!--end Roommate Recommendation Page-->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <p>Copyright © 2021 SwipeMyRoomie. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>