<!DOCTYPE html>
<html lang="en">

<style>
#textboxid
{
    height:30px;
    font-size:14pt;
}

.parent
{
  border: 1px solid white;
  margin: 1rem;
  height: 750px;
  text-align: center;
}

.child
{
  display: inline-block;
  border: 1px solid white;
  vertical-align: middle;

}

.slider {
    display: inline;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: auto;
    margin-left: 5%;
}
#red_slider{
    background: linear-gradient(to right, rgb(0,0,0) , rgb(255,0,0) );
}
#green_slider{
    background: linear-gradient(to right, rgb(0,0,0) , rgb(0,255,0) );
}
#blue_slider{
    background: linear-gradient(to right, rgb(0,0,0) , rgb(0,0,255) );
}

</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style_main.css')}}">
  <title>Update Self Profile</title>
  <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
          <img src="../static/images/icon.png" id="logo"/>
        <div class="brand">
          <a href="#hero">
            <h1><span>S</span>wipe<span>M</span>y<span>R</span>oomie</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/profile" data-after="PROFILE">PROFILE</a></li>
            <li><a href="/search_house" data-after="SEARCH HOUSE">SEARCH HOUSE</a></li>
            <li><a href="/messages" data-after="MESSAGES">MESSAGES</a></li>
            <li><a href="{{url_for('auth.logout')}}" data-after="LOGOUT">LOGOUT</a></li>
            <li><a href="/about" data-after="ABOUT US">ABOUT US</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

<!-- Start NAME ACCORDINGLY Section -->
<style>
  #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}
#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}
  
</style>

<style type="text/css">
  #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}
</style>


<!--<script type="text/javascript">
  $("#profileImage").click(function(e) {
    $("#imageUpload").click();
});
function fasterPreview( uploader ) {
    if ( uploader.files && uploader.files[0] ){
          $('#profileImage').attr('src', 
             window.URL.createObjectURL(uploader.files[0]) );
    }
}
$("#imageUpload").change(function(){
    fasterPreview( this );
});
</script> -->

<section>
    <div style="background-color: #F9CABD; height: 300px;">
      <br><br><br><br><br><br><br><br>
      <h1 style="padding-left: 100px; font-weight: bold; font-size: 40px;">Update Profile</h1><br><br>
      <h1 style="padding-left: 100px; font-weight: bold; font-size: 30px;">{{Name}} | {{Age}} </h1>




      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript">
        $("#profileImage").click(function(e) {
    $("#imageUpload").click();
});

function fasterPreview( uploader ) {
    if ( uploader.files && uploader.files[0] ){
          $('#profileImage').attr('src', 
             window.URL.createObjectURL(uploader.files[0]) );
    }
}

$("#imageUpload").change(function(){
    fasterPreview( this );
});
      </script>-->
      
      <div id="profile-container" style="position: relative; left: 90px; top: -37px;">
         <!--<image id="profileImage" src="{{source_profilepic}}" />
         <h1>{{Name}} | {{Age}} </h1>-->
      </div>
      
      <!--<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>-->
      <form action="/action_page.php">
        <!--<input type="file" id="myFile" name="filename" style="position: relative; bottom: 30px; left: 80px;">-->
       <!-- <input type="submit"> -->
      </form>
<script type="text/javascript">
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>

    <!--<form>
      <input type = Text style="font-size: 30px; width: 200px; padding-left: 70px; padding-top: 30px; position: relative; left: 250px; top:-200px">
        Thomas | 30
      </div>
    </form>-->
    </div>
    <div style="height: 650px; padding-left: 40px;">
      <br>
      <div>{{msg}}</div>
      <div class = "parent" style="vertical-align: middle;">
        <form method = "POST" action = "{{url_for('auth.update_self')}}">
          <div class = "child" style="float: left; width: 600px; text-align: left;">

            <!--<label style="font-size: 30px;">My Summary</label><br><br>
            <input type="text" name="summary" placeholder="Enter your summary here." style="height: 200px; width: 400px;"><br><br><br>--->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
            <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

            <label style = "font-size: 30px;">Name</label><br><br>
            <input type = text placeholder = "Enter your name" name = "name"><br><br><br>
            <label style = "font-size: 30px;">Age</label><br><br>
            <input type="number" min="18" max="100" placeholder="Age" name ="age"> </input><br><br><br>
           <!-- <input type = text placeholder = "Enter your age" name = "age"><br><br><br>-->
            <!--<label style="font-size: 30px;">Area Preference</label><br>
            <label style="font-size: 15px;">(To select multiple options, hold down ctrl/cmd)</label>
            <br><br>
            <select style="width: 300px;" multiple class="chose-select" name="selectarea">
              <option>Woodlands</option>
              <option>Admiralty</option>
              <option>Canberra</option>
              <option>Ang Mo Kio</option>
              <option>Bukit Batok</option>
              <option>Bedok</option>
            </select><br><br><br>
            <input type = "text" placeholder="Area(s)" name = "selectarea"><br><br><br>-->
            <label style="font-size: 30px;">Occupation</label><br><br>
            <input type="text" name="Occupation"><br><br><br>
          </div>

          <div class = "child" style="float: right; width: 598px; text-align: left;">
            <label style="font-size: 30px;">Gender</label><br><br>
            <!--<select style="width: auto;" name = "selectgender">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select><br><br><br>-->
            <select id="gender" name="selectgender">
                <option value = "0"> Choose your gender </option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Any">Any</option>
            </select><br><br><br>
           <!-- <input type = text placeholder="Gender" name = "selectgender"><br><br><br>-->
            <label style="font-size: 30px;">Ethnicity</label><br><br>
            <select id="language" name="ethnicity">
                <option value = "0"> Choose your ethnicity </option>
                <option value="Chinese">Chinese</option>
                <option value="Malay">Malay</option>
                <option value="Indian">Indian</option>
                <option value="Caucasian">Caucasian</option>
                <option value="Other">Other</option>
              </select>
           <!-- <input type="text" name="ethnicity">--><br><br><br>
            <label style="font-size: 30px;">Language Preference</label><br><br>
              <select id="language" name="language_preference">
                <option value = "0"> Choose your preferred language </option>
                <option value="English">English</option>
                <option value="Mandarin">Mandarin</option>
                <option value="Malay">Malay</option>
                <option value="Tamil">Tamil</option>
                <option value="Other">Other</option>
              </select>
            <!--<input type="text" name="language_preference">--><br><br><br>
            <label style="font-size: 30px;">Profile Picture</label><br><br>
            <input type="file" id="myFile" name="filename"><br><br><br>
            <br><br><br>
            <input type = submit class="cta" value = "Update Profile">
            <br><br><br><br>
          </div>
          

        </form>
        
      </div>
      

    </div>
</section>
  <!-- End ___ Section  -->

<!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <!--
      <div class="brand">
        <h1><span>S</span>wipe<span>M</span>y<span>R</span>oomie</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      -->
      <p>Copyright © 2021 SwipeMyRoomie. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>
