<!DOCTYPE html>
<html lang="en">
<head> 
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>House Results</title>

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="main/css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="styles_view_individual_houses.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="main/css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <!-- <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"> -->
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      </head>

      <body>
        <!-- navigation -->
        <section id="header">
         <div class="header container_head">
           <div id="about_nav_bar">
             <img src="../images/icon.png" id="logo"/>
             <div class="brand">
                 <!-- <a href="#welcome">
                   <h1><span>S</span>wipe<span>M</span>y<span>R</span>oomie</h1>
                 </a> -->
                 <img src="../main/images/banner_logo.png" id="banner_logo"/>

                 <div class="page_selection">
                  <ul class="navg_list">
                    <li><a href="/profile" data-after="PROFILE">PROFILE</a></li>
                    <li><a href="/search_house" data-after="SEARCH HOUSE">SEARCH HOUSE</a></li>
                    <li><a href="/messages" data-after="MESSAGES">MESSAGES</a></li>
                    <li><a href="/" data-after="LOGOUT">LOGOUT</a></li>
                    <li><a href="/about" data-after="ABOUT US">ABOUT US</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end navigation -->

        <!-- search bar  -->
<!--
        <section class="searchR_main">
          <p id="sresults">Search Results</p>
        </section>
        <section class="banner_main">
          
          <div id="searchcontainer">
            <form action="/action_page.php">
              <div id="searchbox">
                <img src="images/searchicon.png" id="searchicon">
                <input type="text" placeholder="Search Rooms" name="search">
              </div>
              <div id="searchbox">
                <select name="filter" id="search">
                  <option value="" selected disabled hidden>More Filters</option>
                  <option value="filter1">filter1</option>
                  <option value="filter2">filter2</option>
                </select>
              </div>
              <div id="searchbox">
                <button type="submit">Search</button>
              </div>
            </form>
          </div>
        </section>
-->
        <!-- End search Section  -->
        <!-- Display search Section  -->
          
<!--         <p id="dre">Display Results</p>       -->
          
          
        <section class="display_main">
            <div class="hr">
                <header style="width: 300px">Sample House 1</header>
                <h2>1 Sample Street 791234</h2>
            </div>
            <button style=width:20% id="cubutton">CONTACT US</button>
                <table>
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                    </colgroup>
                    <tr>
                        <td><img src="images/sample_house1.png"></td>
                        <td><img src="images/sample_house2.png"></td>
                        <td><img src="images/sample_house1.png"></td>
                        <td><img src="images/sample_house2.png"></td>
                    </tr>
                </table>
        </section>
          <section class="results_display">
              <div class="rinfo">
                  <button>OVERVIEW</button>
                  <button>PRICE INSIGTS</button>
                  <button>LOCATION</button>
              </div>
               <div class="leftdetails">
                   <p>
                       $750/month
                       <br>
                       Room 1 go sft $8.33 psf
                       <br>
                       Nearby MRT Station
                       <br>
                       7 Minutes (520m) to NE17 Punggol MRT
                   </p>
                   <header style="font-weight:bold">Amenities</header>
                   <h3>Aircon <br> Internet Connection <br> Living room Furniture <br> Fridge</h3>
              </div>
              <div class="ratings">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                  </div>
                   <div class="rightdetails">
                       <p>
                           <span style="color:#EF3C2D;">Thomas 1</span>
                           <br>
                           <span style="color:#4091C9;">10 Aug 2021 <br> 123 Sample Street 791234</span>
                           <br>
                           Wonderful area, clean environment.
                           <br>
                           Convenient transport.
                           <br>
                           (4 stars)
                       </p>
                       <p>
                           <span style="color:#EF3C2D;">Thomas 1</span>
                           <br>
                           <span style="color:#4091C9;">10 Aug 2021 <br> 123 Sample Street 791234</span> 
                           <br>
                           Wonderful area, clean environment.
                           <br>
                           Convenient transport.
                          <br>
                          (4 stars)
                       </p>
              </div>
          </section>
          
        <!--end Roommate Recommendation Page-->

        <!-- Footer -->
        <section id="footer">
          <div class="footer container">
            <p>Copyright © 2021 SwipeMyRoomie. All rights reserved</p>
          </div>
        </section>
        <!-- End Footer -->
        <script src="./app.js"></script>
      </body>
      </html>